<div class="div-main">
 

    <div class="div-over-ad">
        <p class="ad">
            I am currently available for any freelance jobs or junior developer role
            which involves anything javascript or the Angular framework. I also have experience building
            the back end of scalable modern web applications using NodeJs. Contact me on <a
                href="mailto:abuchikingsley76@gmail.com">
                abuchikingsley76@gmail.com
            </a>
        </p>

        <p class="links">
            I am also available on the following channels
            <a href="" id="github"></a>
            <a href="" id="twitter"></a>
            <a href="" id="linkdIn"></a>
        </p>
    </div>
</div>