<main>
    <div class="bg"></div>
    <section class="summary section1">
        <div class="div-under-summary">

            <div class="div-intro">
                <div class="image-container flex-item">
                    <img src="../../assets/images/0308161325git.jpg" alt="" width="200" class="profile-pic">

                </div>

                <div class="name-container flex-item">
                    <p class="name">Hi, I am <span>Kingsley,</span> a full-stack JavaScript developer from Lagos,
                        Nigeria.
                    </p>
                    <p class="p-email">Email: <a href="mailto:abuchikingsley76@gmail.com" target="_blank" rel="noopener noreferrer">
                            abuchikingsley76@gmail.com</a></p>
                    <hr>
                </div>
            </div>


            <div class="details">
                <p>I am a self taught Web Developer who loves working with
                    JavaScript, and I am currently looking into building the back-end of
                    web applications using PHP. Yeah, I know HTML and CSS too.
                    <BR><BR>
                    My journey on learning Web Development started in mid 2018, and
                    I have loved every moment of it. I have a background as a sales
                    person in the banking industry.
            </div>
        </div>
    </section>

    <section class="section2 skills">
        <div class="skills-header">
            <p>Skills Summary</p>
        </div>

        <div class="skills-container flex-container">

            <div class="frontend card">
                <p class="card-header">Front End</p>
                <div class="list-container">
                    <ul>
                        <li><span></span>HTML</li>
                        <li><span></span>CSS/LESS</li>
                        <li><span></span>JavaScript</li>
                        <li><span></span>Typescript</li>
                        <li><span></span>Angular</li>

                    </ul>
                </div>
            </div>

            <div class="backend card">
                <p class="card-header">Back End</p>
                <div class="list-container">
                    <ul>
                        <li><span></span>NodeJs/Express</li>
                        <li><span></span>PostgreSQL</li>
                        <li><span></span>MongoDB</li>
                    </ul>
                </div>

            </div>

            <div class="tools card">
                <p class="card-header">Tools</p>
                <div class="list-container">

                    <ul>
                        <li><span></span>Git/Version Control</li>
                        <li><span></span>Webpack</li>
                        <li><span></span>Bootstrap</li>
                        <li><span></span></li>
                    </ul>
                </div>
            </div>


        </div>

    </section>
    <hr>

    <section class="section3 projects">
        <div class="projects-header">
            <p>Featured Projects</p>
        </div>
        <p class="p-collection">A complete collection of my projects can be found <a href="https://github.com/Abuchikings" target="_blank" rel="noopener noreferrer">here</a></p>
        <div class="projects-container">

            <div class="card">
                <div class="project-image">
                    <img src="./assets/images/mini-netflix.jpg" alt="Project image" title="iReporter">
                </div>

                <div class="project-link">
                    <a href="https://abuchikingsley-mininetflix.netlify.com/home" target="_blank" rel="noopener noreferrer">Mini-Netflix</a>
                </div>

                <div class="project-tags">
                    <span class="tags">HTML</span>
                    <span class="tags">CSS</span>
                    <span class="tags">JavaScript</span>
                    <span class="tags">Typescript</span>
                    <span class="tags">Angular</span>
                </div>
            </div>
            <div class="card">
                <div class="project-image">
                    <img src="./assets/images/ireport.jpg" alt="Project image" title="iReporter">
                </div>

                <div class="project-link">
                    <a href="https://abuchikings-ireporter.herokuapp.com/" target="_blank" rel="noopener noreferrer">iReporter</a>
                </div>

                <div class="project-tags">
                    <span class="tags">HTML</span>
                    <span class="tags">CSS</span>
                    <span class="tags">JavaScript</span>
                    <span class="tags">NodeJs</span>
                    <span class="tags">PostgreSQL</span>
                </div>
            </div>

            <div class="card">
                <div class="project-image">
                    <img src="./assets/images/pixel3.png" alt="Project image" title="Pixel Art Maker">
                </div>

                <div class="project-link">
                    <a href="https://abuchikings-pixel-art-maker.netlify.com/" target="_blank" rel="noopener noreferrer">Pixel-art Maker</a>
                </div>

                <div class="project-tags">
                    <span class="tags">HTML</span>
                    <span class="tags">CSS</span>
                    <span class="tags">JavaScript</span>
                    <span class="tags">Webpack</span>

                </div>
            </div>

            <div class="card">
                <div class="project-image">
                    <img src="./assets/images/portfolio.jpg" alt="Project image" title="Portfolio">
                </div>

                <div class="project-link">
                    <a href="https://abuchikingsley.firebaseapp.com" target="_blank" rel="noopener noreferrer">My Portfolio</a>
                </div>

                <div class="project-tags">
                    <span class="tags">HTML</span>
                    <span class="tags">CSS</span>
                    <span class="tags">Bootstrap 4</span>
                    <span class="tags">Angular</span>
                    <span class="tags">JavaScript/Typescript</span>
                </div>
            </div>

        </div>
    </section>
    <hr>
    <section class="section4">
        <div class="projects-header">
        </div>
        <div class="projects-container"></div>
    </section>

</main>