<div class="main">
    <div class="container">

        <form action="">
            <p class="form-header">
                Log In
            </p>
            <p class="input-wrapper">
                <input type="email" required placeholder="Email">
            </p>

            <p class="input-wrapper">
                <input type="password" required placeholder="Password">
            </p>
            <p class="button-wrapper">
                <button class="login" type="submit" disabled>Sign In</button>
            </p>
        </form>

<div class="btn-wrapper">
        <button class="btn">
            <i class="fa fa-google ml-2"></i>
            Sign in with Google
        </button>
    </div>

    </div>

</div>